.card {
    margin: 0;
    padding: 0;
}

.card__image {
    border-radius: 8px;
    max-height: 413px;
    display: block;
    object-fit: cover;
}

.card__caption {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.card__text {
    font-size: 20px;
    line-height: 24px;
    background-color: #FCF5E5;
    margin: 0;
    color: #212121;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like {
    opacity: .40;
    height: 20px;
    width: 23px;
    border-style: none;
    cursor: pointer;
}

.card__like:hover {
    opacity: 1;
    background-color: #FCF5E5;
}

@media screen and (max-width: 520px) {
    .card__image {
        max-height: 288px;
    }

    .card__text {
        font-size: 16px;
    }
}

