.content__profile {
    background-color: #FCF5E5;
    padding: 20px 80px;
}

.content__profile_container {
    border-bottom: 1px solid #212121;
    padding-bottom: 20px;
    max-height: 210px;
    overflow: hidden;
}