.header {
    max-width: 1440px;
    background-color: #fff;
    margin: 0;
    box-sizing: border-box; 
}

.header__menubar {
    display: flex;
    justify-content: center;
}

.header__menubar_logo {
    height: 26px;
    width: 94px;
    padding: 10px 0;
}

