.profile {
    display: flex;
    gap: 20px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    background-color: #FCF5E5;
    border-bottom: 1px solid #212121;
    padding: 34px 0 20px;
    max-height: 210px;
}

.profile__image {
    height: 190px;
    width: 190px;
    border-radius: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    color: #212121;
    padding-bottom: 16px;
    /* max-width: 420px;
    max-height: 96px; */
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.profile__subtitle {
    color: #212121;
    opacity: .70;
    margin: 0;
    max-width: 420px;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.profile__button_edit {
    opacity: .70;
    margin-top: auto;
    margin-right: auto;
    border-style: none;
    background-color: #FCF5E5;
    line-height: 16px;
    font-weight: 500;
    font-size: 16px;
}

.profile__button_edit:hover {
    opacity: 1.0;
}

.profile__button_post {
    background-color: #212121;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border-style: none;
    align-self: flex-end;
    margin-left: auto;
    max-height: 52px;
    padding: 18px 32px;
    gap: 8px;
}

.profile__button_post:hover {
    opacity: .80;
}

.profile__button_post-text {
    margin: 0;
    line-height: 16px;
    font-weight: 500;
    font-size: 16px;
}

.profile__button_post-image {
    height: 12px;
    width: 12px;
}