.profile {
    display: flex;
    gap: 20px;
    background-color: #FCF5E5;
    border-bottom: 1px solid #212121;
    padding: 34px 0 20px;
}

.profile__image {
    height: 190px;
    width: 190px;
    border-radius: 8px;
}

.profile__column {
    display: flex;
    flex-direction: column;
}

.profile__name {
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    max-width: 420px;
    color: #212121;
    margin-bottom: 16px;
    overflow: hidden;
    box-sizing: border-box;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.profile__subtitle {
    color: #212121;
    opacity: .70;
    margin: 0;
    max-width: 420px;
    max-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.profile__edit-button {
    opacity: .70;
    margin-top: auto;
    margin-right: auto;
    border-style: none;
    background-color: #FCF5E5;
    line-height: 16px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 1.0;
}

.profile__post-button {
    background-color: #212121;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border-style: none;
    align-self: flex-end;
    margin-left: auto;
    max-height: 52px;
    padding: 18px 32px;
    gap: 8px;
    cursor: pointer;
}

.profile__post-button:hover {
    opacity: .80;
}

.profile__post-button-text {
    margin: 0;
    line-height: 16px;
    font-weight: 500;
    font-size: 16px;
}

.profile__post-button-image {
    height: 12px;
    width: 12px;
}

@media screen and (max-width: 520px) {
    .profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        padding: 0;
    }

    .profile__image {
        height: 80px;
        width: 80px;
        margin: 20px 120px 12px;
    }

    .profile__name {
        font-size: 20px;
        padding: 0;
    }

    .profile__subtitle {
        text-align: center;
        padding: 0;
    }

    .profile__edit-button {
        margin: 32px auto 20px;
    }
    
    .profile__post-button {
        margin: 0 auto 20px;
        min-width: 288px;
        max-width: 300px;
        justify-content: center;
    }
    
}